# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
bin/*

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Disposable copy of testdata used by the .vscode/launch.json debug configurations.
.debug-sandbox/

# Test report & badge files
test-report.xml
badge.json

# Windows folder icon
desktop.ini

# Temporary files & resources
cmd/fldrecall/resource.syso
cmd/fldrecall/versioninfo.json
cmd/fldrecall/__debug_bin.exe
resources/icon16.png
resources/icon32.png
resources/icon64.png

cmd/advanced-debug-sandbox/folders.go
cmd/advanced-debug-sandbox/schema.sql
cmd/advanced-debug-sandbox/sql.go
cmd/advanced-debug-sandbox/types.go
